---
const t = `L’unione di competenze il
valore del nostro gruppo.`;

const p = `Justo aliquam amet id ultricies interdum lacus ipsum ipsum. Adipiscing velit eget leo nisl in arcu quam sit. Ipsum aliquam hac proin praesent sagittis duis libero massa amet.
Mauris rhoncus massa sit a neque at bibendum pharetra tincidunt. Mi praesent massa sit magna diam turpis velit. Cras proin vitae pellentesque aliquet. Integer ultrices ac tempus tellus aenean lacus mauris. Nibh in.`;

const action = `I NOSTRI SERVIZI`;

// const services = [
//   "Consulenza fiscale",
//   "Consulenza del lavoro",
//   "Consulenza legale",
//   "Risorse Umane",
// ];

// Importiamo il componente ServizioSingolo
import { getCollection } from "astro:content";
const servizi = await getCollection("servizi");

// Ordiniamo i servizi per assicurare che non ci siano buchi nell'ordine
const ServiziList = servizi
  .sort((a, b) => a.data.order - b.data.order)
  .slice(-4); //ultimi 4
---

<section class="competence-section">
  <h2>{t}</h2>
  <div class="grid">
    <!-- Colonna Sinistra -->
    <div class="left-column">
      <p>{p}</p>
      <div class="extra-info">
        <div class="info-item">
          <p class="number">+25</p>
          <p class="under-number">anni d'esperienza</p>
        </div>
        <div class="info-item">
          <p class="number">+60</p>
          <p class="under-number">professionisti</p>
        </div>
      </div>
    </div>

    <!-- Colonna Destra -->
    <div class="right-column">
      <ul class="service-list">
        {
          ServiziList.map((servizio, index) => (
            <li key={index} class="service-item">
              {" "}
              <a href={`/servizi/${servizio.slug}`}>{servizio.data.title}</a>
            </li>
          ))
        }
      </ul>
      <a href="#" class="action-button">
        {action}
        <span class="button-icon">→</span>
      </a>
    </div>
  </div>
</section>

<style lang="scss">
  .competence-section {
    padding: var(--padding-viewport);
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--ST24-skyazure);
    color: #333;

    h2 {
      font-size: var(--h2);
      font-weight: 400;
      margin-bottom: 2rem;
      white-space: pre-line;
      @media (max-width: 768px) {
        font-size: 2.6rem;
        width: 70%;
      }
    }

    .grid {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5rem;
    }

    .left-column {
      flex: 1;
      flex-grow: 1;

      p {
        font-size: 1rem;
        line-height: 1.6;
        color: #7e7e7e;
        font-size: clamp(0.6rem, 4vw, 1.7rem);
        line-height: 1.2;
        width: 90%;
      }

      .extra-info {
        display: flex;
        gap: 2rem; /* Ridotto il gap per evitare eccessivi spazi tra gli elementi */
        margin-bottom: 2rem;
        flex-wrap: nowrap; /* Impedisce agli elementi di andare a capo */
        margin-top: 2rem;

        .info-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 1.5rem;
          font-weight: 600;
          flex-shrink: 0; /* Impedisce la compressione degli elementi */
          min-width: fit-content; /* Adatta la larghezza al contenuto */
        }
      }

      .number {
        font-size: var(--h2);
        font-weight: 400;
        color: #000;
      }

      .under-number {
        font-size: 1.5rem;
        color: #626262;
        white-space: nowrap;
        font-weight: 400;
      }
    }

    .right-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .service-list {
        list-style: none;
        padding: 0;
        margin: 0 0 2rem 0;

        .service-item {
          position: relative;
          padding-left: 2rem;
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #a3a3a3;
          font-size: clamp(1.2rem, 4vw, 2.5rem);
          font-weight: 300;
          color: #3f3f3f;
          &:before {
            content: "0" counter(item);
            counter-increment: item;
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #626262;
          }

          .service-name {
            font-size: 1.1rem;
            color: #333;
            text-transform: uppercase;
          }
        }
      }

      .action-button {
        display: inline-flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        border: 2px solid #243a3a;
        border-radius: 50px;
        font-size: 1rem;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
        align-self: flex-start;
        @media (max-width: 768px) {
          align-self: flex-end;
        }

        .button-icon {
          margin-left: 0.5rem;
          transition: transform 0.3s ease;
        }

        &:hover {
          background-color: #243a3a;
          color: #fff;

          .button-icon {
            transform: translateX(5px);
          }
        }
      }
    }
  }

  /* Media query per dispositivi mobili */
  @media (max-width: 768px) {
    .left-column,
    .right-column {
      flex-direction: column;
    }

    .extra-info {
      gap: 0 !important;
    }
  }

  @media (max-width: 768px) {
    .grid {
      flex-direction: column; /* Dispone gli elementi in colonna */
      gap: 2rem; /* Spazio tra le colonne */
    }

    .left-column,
    .right-column {
      width: 100%; /* Ogni colonna occupa il 100% della larghezza */
    }
  }

  /* Imposta il contatore per la lista */
  .service-list {
    counter-reset: item; /* Inizializza il contatore per gli elementi della lista */
  }
</style>
