---
const titolo = `Contattaci`;
const sedi = [
  {
    citta: "Bergamo",
    indirizzo: "Piazzale della Repubblica, 2",
    telefono: "035 215008",
  },
  {
    citta: "Darfo Boario",
    indirizzo: "Via Lorenzetti, 15",
    telefono: "0364 534871",
  },
  {
    citta: "Brescia",
    indirizzo: "Via Vittorio Emanuele II, 1",
    telefono: "",
  },
];
const buttonText = `INVIA`;
---

<section class="contact-section">
  <h2>{titolo}</h2>
  <div class="contact-container">
    <!-- Colonna sinistra: Sedi -->
    <div class="contact-info">
      <div class="sedi">
        {
          sedi.map((sede) => (
            <div class="sede">
              <h3>{sede.citta}</h3>
              <p>{sede.indirizzo}</p>
              {sede.telefono && <p>{sede.telefono}</p>}
            </div>
          ))
        }
      </div>
    </div>

    <!-- Colonna destra: Form di contatto -->
    <div class="contact-form">
      <form class="contact-form">
        <input type="text" name="nome" placeholder="Nome" required />
        <input type="text" name="societa" placeholder="Società" required />
        <input type="email" name="email" placeholder="Email" required />
        <textarea name="messaggio" placeholder="Messaggio" rows="5" required
        ></textarea>
        <button type="submit" class="button">
          {buttonText}
          <span class="button-icon">→</span>
        </button>

        <!-- Messaggi di successo e errore -->
        <div class="form-message success-message" style="display: none;">
          Messaggio inviato con successo!
        </div>
        <div class="form-message error-message" style="display: none;">
          Errore nell'invio del messaggio!
        </div>
      </form>
    </div>
  </div>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector(".contact-form form"); // Seleziona il tag form all'interno del contenitore
    const successMessage = document.querySelector(".success-message");
    const errorMessage = document.querySelector(".error-message");

    if (form) {
      form.onsubmit = async (e) => {
        e.preventDefault(); // Impedisci il comportamento predefinito del form
        form.querySelector("button[type=submit]").disabled = true; // Disabilita il pulsante di invio

        const formData = new FormData(e.target);

        // Aggiungi campi extra per l'email
        formData.append("senderName", "ST24");
        formData.append("senderEmail", "giuliobarchi1@gmail.com"); // Email del mittente
        formData.append("to", "giulio@amedani.com"); // Email del destinatario

        try {
          const response = await fetch(
            "https://amedanistudio.pages.dev/api/form", // Cambia questo URL con il tuo endpoint API
            {
              method: "POST",
              body: formData,
            }
          );

          if (response.ok) {
            form.reset(); // Resetta il form dopo il successo
            successMessage.style.display = "block"; // Mostra il messaggio di successo
            errorMessage.style.display = "none"; // Nascondi il messaggio di errore
            form.querySelector("button[type=submit]").disabled = false; // Riabilita il pulsante di invio
          } else {
            throw new Error("Form submission failed");
          }
        } catch (error) {
          console.error(error);
          errorMessage.style.display = "block"; // Mostra il messaggio di errore
          successMessage.style.display = "none"; // Nascondi il messaggio di successo
          form.querySelector("button[type=submit]").disabled = false; // Riabilita il pulsante di invio
        }
      };
    }
  });
</script>

<style lang="scss">
  .contact-section {
    background-color: var(--ST24-skygreen);
    padding: var(--padding-viewport);
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-block: 7rem;

    h2 {
      font-size: var(--h2);
      margin-bottom: 2rem;
      font-weight: 400;
    }
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .contact-info {
    flex: 1;

    .sedi {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      .sede {
        margin-top: 2rem;
        opacity: 0.9;

        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          font-weight: 400;
        }

        p {
          margin: 0;
          font-size: 1rem;
          line-height: 1.6;
        }
      }
    }
  }

  .contact-form {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        line-height: 1.5;
        height: 3rem;

        &::placeholder {
          color: #fff;
          opacity: 0.7;
        }
      }

      textarea {
        resize: none;
        height: 3rem;
        overflow: hidden;
        font-family: "Gambetta", serif;
      }

      .button {
        display: inline-flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        border: 2px solid var(--ST24-skyyellow);
        border-radius: 50px;
        font-size: 1rem;
        color: var(--ST24-skyyellow);
        background-color: transparent;
        text-decoration: none;
        transition: all 0.3s ease;
        align-self: flex-start;
        margin-top: 2rem;

        @media (max-width: 768px) {
          align-self: flex-end;
        }

        &:hover {
          background-color: var(--ST24-skyyellow);
          color: var(--ST24-skygreen);
        }

        .button-icon {
          margin-left: 0.5rem;
          transition: transform 0.3s ease;
        }

        &:hover .button-icon {
          transform: translateX(5px);
        }
      }
    }
  }

  .form-message {
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
  }

  .success-message {
    background-color: rgba(0, 255, 136, 0.4);
    color: var(--ST24-skyyellow);
    display: none;
  }

  .error-message {
    background-color: rgba(255, 0, 0, 0.5);
    color: var(--ST24-skygreen);
    display: none;
  }
</style>
