---
import { getCollection } from "astro:content";

const { hideHeader, limit, titleNews } = Astro.props;

// Otteniamo la collection "news" e la ordiniamo per data decrescente
let newsList = await getCollection("news");
newsList.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Applichiamo il limite se la prop `limit` è definita
if (limit !== undefined) {
  newsList = newsList.slice(0, limit);
}
---

<section class="news-section">
  {
    !hideHeader && (
      <div class="news-header">
        <h2>{titleNews}</h2>
        <a href="/storie" class="button button1">
          TUTTI GLI ARTICOLI{" "}
          <img class="button-icon" src="/assets/arrow-right.png" alt="" />
        </a>
      </div>
    )
  }

  <div class="news-grid">
    {
      newsList.map((newsItem) => (
        <a href={`/news/${newsItem.slug}/`} class="news-item">
          <img
            src={newsItem.data.image}
            alt={newsItem.data.title}
            class="news-image"
          />
          <div class="news-meta">
            <span class="news-category">{newsItem.data.category}</span>
            <span class="news-date">
              {new Date(newsItem.data.date).toLocaleDateString("it-IT")}
            </span>
          </div>
          <h3 class="news-title">{newsItem.data.title}</h3>
        </a>
      ))
    }
    {
      !hideHeader && (
        <a href="/storie" class="button button2">
          TUTTI GLI ARTICOLI
          <img class="button-icon" src="/assets/arrow-right.png" alt="" />
        </a>
      )
    }
  </div>
</section>

<style lang="scss">
  .news-section {
    padding: var(--padding-viewport);
  }

  .news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    @media (max-width: 768px) {
      margin-top: 5rem;
    }

    h2 {
      font-size: var(--h2);
      font-weight: 400;
      margin: 0;
    }
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-top: 3rem;
    }
  }

  .news-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;

    .news-image {
      width: 100%;
      height: 200px;
      background-color: #f0f0f0;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    .news-meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .news-category {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #888;
      }

      .news-date {
        font-size: 0.8rem;
        color: #888;
      }
    }

    .news-title {
      font-size: 1.1rem;
      font-weight: 500;
      color: #4c4c4c;
      margin: 0;
    }

    &:hover {
      .news-title {
        text-decoration: underline;
      }
    }
  }

  /* Pulsanti su mobile */
  @media (max-width: 768px) {
    .button1 {
      display: none;
    }
    .button2 {
      justify-self: flex-end;
      width: fit-content;
    }
  }

  /* Pulsanti su desktop */
  @media (min-width: 769px) {
    .button2 {
      display: none;
    }
  }
</style>
