---
const { persona } = Astro.props;
const { Content } = await persona.render();
---

<div class="person-item">
  <div class="modal-button">
    <span class="title">{persona.data.title}</span>
    <span class="role">{persona.data.role}</span>
  </div>

  <!-- Modale associato -->
  <div class="modal-container">
    <div class="right-panel">
      <!-- Aggiunta del pulsante di chiusura -->
      <div class="container-button">
        <span class="close-button">✕</span>
      </div>
      <div class="container-content">
        <img src={persona.data.img} alt={persona.data.name} />
        <div class="contain-text">
          <p>{persona.data.title}</p>
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Funzionalità per l'apertura e chiusura del modale
    document.querySelectorAll(".person-item").forEach((personItem) => {
      const button = personItem.querySelector(".modal-button");
      const modal = personItem.querySelector(".modal-container");
      const closeButton = personItem.querySelector(".close-button");

      // Verifica che entrambi gli elementi esistano
      if (button && modal && closeButton) {
        // Apri il modale al click del bottone
        button.addEventListener("click", () => {
          modal.classList.add("open");
        });

        // Chiudi il modale al click della X
        closeButton.addEventListener("click", () => {
          modal.classList.remove("open");
        });

        // Chiudi il modale se clicchi fuori dal contenuto
        modal.addEventListener("click", (event) => {
          if (event.target.classList.contains("modal-container")) {
            modal.classList.remove("open");
          }
        });
      }
    });
  });
</script>

<style lang="scss">
  .person-item {
    width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid #dedede;
    position: relative;

    .modal-button {
      cursor: pointer;
      display: flex;
      z-index: 1;

      .title {
        width: 60%;
      }
      .role {
        width: 40%;
        font-size: 0.8rem;
        color: #7e7e7e;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .title,
        .role {
          width: 100%;
          text-align: left;
        }

        .role {
          margin-top: 0.5rem;
        }
      }
    }

    .modal-container {
display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 1000;
      // right: -200rem; /* Fuori dalla vista inizialmente */
      // transition: right 1s ease; /* Animazione di 1 secondo */

      &.open {
        // right: 0; /* Entra in vista */
      display: flex;
      }

      .right-panel {
        flex: 0.75;
        background: var(--ST24-skyyellow);
        padding: 2rem;
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 70%;
        right: 0;

        @media (max-width: 768px) {
          width: 100%;
        }

        .container-content {
          display: flex;
          gap: 2rem;
          padding-top: 2.5rem;
          height: 100%;
          @media (max-width: 768px) {
            flex-flow: column;
          }
        }
        img {
          aspect-ratio: 3 / 4;
          object-fit: cover;
          width: 45%;
          height: auto;
          margin-bottom: 2rem;
          @media (max-width: 768px) {
            width: 100%;
            height: 25rem;
          }
        }

        .contain-text {
          display: flex;
          flex-flow: column;
          width: 100%;
          p {
            font-size: 2rem;
            padding-bottom: 2rem;
          }
          .content {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }

        .container-button {
          position: relative;
          width: 100%;
          padding-bottom: 2.5rem;
          border-bottom: 1px solid black;
          display: flex;
          justify-content: flex-end;
        }

        .close-button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid #333;
          background-color: var(--ST24-skyyellow);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
</style>
